html {
    /* Blue */
    --color-blue: rgb(72, 149, 239);
    --color-blue-shadow: rgba(72, 149, 239, 0.5);
    --color-blue-text: black;

    /* Red */
    --color-red: rgb(186, 24, 27);
    --color-red-shadow: rgba(186, 24, 27, 0.5);
    --color-red-text: white;

    /* Green */
    --color-green: rgb(49, 87, 44);
    --color-green-shadow: rgba(49, 87, 44, 0.5);
    --color-green-text: white;

    /* Yellow */
    --color-yellow: rgb(252, 191, 73);
    --color-yellow-shadow: rgba(252, 191, 73, 0.5);
    --color-yellow-text: black;

    /* Orange */
    --color-orange: rgb(232, 93, 4);
    --color-orange-shadow: rgba(232, 93, 4, 0.5);
    --color-orange-text: black;

    /* Purple */
    --color-purple: rgb(114, 9, 183);
    --color-purple-shadow: rgba(114, 9, 183, 0.5);
    --color-purple-text: white;

    /* Turquoise */
    --color-turquoise: rgb(0, 175, 185);
    --color-turquoise-shadow: rgba(0, 175, 185, 0.5);
    --color-turquoise-text: black;

    /* White */
    --color-white: rgb(211, 211, 211);
    --color-white-shadow: rgba(211, 211, 211, 0.5);
    --color-white-text: black;
}

/* TeamsNav */

#teams-container {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: stretch;
}

.bg-team-color {
    background-color: var(--team-color, unset);
    color: var(--team-color-text, unset);
}

[team] {
    order: var(--team-order, unset);
}

[part=player-list] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.25rem;
    align-content: flex-start;
}

[player] {
    order: var(--player-order, unset);
    font-size: 0.8rem;
    display: inline-grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    gap: 0.25rem;
}

[part=emoji] {
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
}

.buzzer-shadow {
    box-shadow: var(--team-color-shadow, gray) 0px 0px 0px 4px;
}

/* Multiple choice question */
body:not([current-question=text-multiple-choice]) #text-multiple-choice {
    display: none !important;
} 

.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answer {
    display: grid;
    grid-template-columns: auto 1fr;
}

/* region BootStrap Adjustments */

.card > .list-group {
    border-bottom: none;
}

.card > .list-group > .list-group-item {
    border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.btn-group > .btn[disabled] {
    width: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* endregion BootStrap Adjustments */