#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-nav {
    max-height: 3.5rem;
}

#main-content {
    flex-grow: 1;
}

.grid-columns-xl {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-columns-lg {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.grid-columns-md {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.grid-columns-sm {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}

#teams-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

[part=player-list] {
    display: grid;
    align-content: flex-start;
}

.emoji-large, 
[part=emoji] {
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
}