#top-nav {
    max-height: 15vh;
}

#main-content {
    max-height: 65vh;
    overflow-x: scroll;
}

/* TeamsNav */

#teams-container {
    max-height: 20vh;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: stretch;
}

[part=player-list] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    align-content: flex-start;
}

.emoji-large, 
[part=emoji] {
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
}